@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #ffffff7a; */
  @apply bg-gray-300;
}

.col {
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 30px;
}

.bg {
  background-color: #151c2c;
}

.bgSoft {
  background-color: #182237;
}

.txtSoft {
  background-color: #b7bac1;
}

.txt {
  @apply space-y-1 font-normal md:font-medium text-white text-sm md:text-xl bgSoft p-5 flex-1 rounded cursor-pointer;
}

.txt:hover {
  background-color: #2f3e5f;
}
.txt:nth-child(1) {
  background-color: #2f3e5f;
}
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
